!!! 5
html(lang='en')
  head
    title ToE: Theory of Everything
    
    link(href='/bootstrap/css/bootstrap.css', rel='stylesheet')
    style
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    link(href='/bootstrap/css/bootstrap-responsive.css', rel='stylesheet')
    style(type='text/css')
      body {
        margin: 0;
        /*background: url(/galaxy.jpg);*/
        /*background-size: cover;*/
        background: -webkit-linear-gradient(45deg,  #020031 0%,#6d3353 100%);
      }
      .canvas {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    link(href='/master.css', rel='stylesheet')
    link(href='/font-awesome/css/font-awesome.css', rel='stylesheet')
    
    script(src='/noise.js')
    script(src='/jquery.js')
    script(src='/bootstrap/js/bootstrap.js')
    script(src='/coffeescript.js')
    script(src='/socket.io/socket.io.js')
    script(src='/browserify.js')
  body
    #create-character.modal.hide
      .modal-header
        button.close(type='button', data-dismiss='modal') ×
        h3 character
      .modal-body
        label Class
        ul.classes
          li.class
            i.icon-priest.active
          li.class
            i.icon-mage
        p.name
          label Name
          input.name-input
        p.actions
          a.btn.btn-primary.create-character-btn(href='#') Create Character
        
      .modal-footer
    
    #character.modal.hide
      .modal-header
        button.close(type='button', data-dismiss='modal') ×
        h3 character
      .modal-body
        p
          i.icon-priest.active
        p.name
        p.actions
          a.btn.btn-primary.play-btn(href='#') Play
        
      .modal-footer
    
    #characters.modal.hide
      .modal-header
        button.close(type='button', data-dismiss='modal') ×
        h3 characters
      ul.characters
      
      .modal-footer
        button(class='btn btn-primary create-character-btn', href='#') Create Character
    
    #auth.modal.hide
      .modal-header
        button.close(type='button', data-dismiss='modal') ×
        h3 auth
      .modal-body
        .row-fluid
          .span6.login-pane
            h3 login
            button.test-btn(type='button') test
            
            form
              fieldset
                .control-group.alias-control-group
                  label username or email
                  .controls
                    input.alias(value='user')
                    span(class="help-inline")
                
                .control-group.secret-control-group
                  label password
                  .controls
                    input.secret(type='password', value='secret', style='height: auto;')
                    span(class="help-inline")
                
                .form-actions
                  a.btn.btn-primary.login-btn(href='#') Login
                  a.btn.forgot-btn(href='#') Forgot Password?
          
          .span6.join-pane
            h3 join
            button.test-btn(type='button') test
            
            form
              fieldset
                .control-group.alias-control-group
                  label username
                  .controls
                    input.alias(type='email')
                    span(class="help-inline")
                
                .control-group.email-control-group
                  label email
                  .controls
                    input.email(type='email')
                    span(class="help-inline")
                
                .control-group.secret-control-group
                  label password
                  .controls
                    input.secret(type='password', style='height: auto;')
                    span(class="help-inline")
                
                .form-actions
                  a.btn.btn-primary.join-btn(href='#') Join
        
      .modal-footer
        
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') ToE
          .nav-collapse
            ul.nav
              li.play.active
                a(href='#play')
                  i.icon-globe
              li.edit
                a(href='#edit')
                  i.icon-sitemap
          #userName
    
    .navbar.navbar-fixed-bottom.navbar-inverse
      .navbar-inner
        .container
          ul.nav.toolbar
            li
              a(href='#', data-key='dirt')
                i.icon-slot
            li
              a(href='#', data-key='stone')
                i.icon-slot
            li
              a(href='#', data-key='glass')
                i.icon-slot
            li
              a(href='#', data-key='wood')
                i.icon-slot
            li
              a(href='#', data-key='brick')
                i.icon-slot
            li
              a(href='#', data-key='books')
                i.icon-slot
            li
              a(href='#', data-key='chest')
                i.icon-slot
            li
              a(href='#', data-key='mail')
                i.icon-slot
            li
              a(href='#', data-key='motor')
                i.icon-slot
            //- li
            //-   a(href='#', data-key='dirt')
            //-     i.icon-dirt.active
            //- li
            //-   a(href='#', data-key='stone')
            //-     i.icon-stone
            //- li
            //-   a(href='#', data-key='glass')
            //-     i.icon-glass
            //- li
            //-   a(href='#', data-key='wood')
            //-     i.icon-wood
            //- li
            //-   a(href='#', data-key='brick')
            //-     i.icon-brick
            //- li
            //-   a(href='#', data-key='books')
            //-     i.icon-books
            //- li
            //-   a(href='#', data-key='chest')
            //-     i.icon-chest
            //- li
            //-   a(href='#', data-key='mail')
            //-     i.icon-mail
            //- li
            //-   a(href='#', data-key='motor')
            //-     i.icon-motor
          
          ul.nav.bags.pull-right
            li
              a(href='#')
                i.icon-bag
            li
              a(href='#')
                i.icon-bag
            li
              a(href='#')
                i.icon-bag
            li
              a(href='#')
                i.icon-bag
            li
              a(href='#')
                i.icon-bag
    
    canvas#canvas.canvas(width='500', height='500')
    
    .bag
      .row-fluid.row-bag
        .span3 slot
        .span3 slot
        .span3 slot
        .span3 slot
      .row-fluid.row-bag
        .span3 slot
        .span3 slot
        .span3 slot
        .span3 slot
      .row-fluid.row-bag
        .span3 slot
        .span3 slot
        .span3 slot
        .span3 slot