ul {
  padding: 0;
  margin: 0;
}

.toolbar .active {
  -webkit-box-shadow:0 0 15px #ffffff;
}

.icon-dirt {
  background-image: url(/terrain.png);
  background-position: -64px 0;
  width: 32px!important;
  height: 32px;
  background-size: 512px 512px;
}

.icon-chest {
  background-image: url(/terrain.png);
  background-position: -352px -32px;
  width: 32px!important;
  height: 32px;
  background-size: 512px 512px;
}

.icon-motor {
  background-image: url(/terrain.png);
  background-position: -448px -192px;
  width: 32px!important;
  height: 32px;
  background-size: 512px 512px;
}


.hud {
  height: 50%;
  width: 100%;
  position: absolute;
  z-index: 1000;
  left: 0;
  
  -webkit-transition: top 0.25s ease-in-out;
  background: rgba(0, 0, 0, 0.75);
  color: white;
}

.hud.collapsed {
  top: -1000px;
}

.hud.expanded {
  top: 40px;
}

.hud .prompt {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.hud .log {
  position: absolute;
  bottom: 24px;
  left: 0;
  width: 100%;
  height: 24px;
  background: rgba(255, 255, 255, 0.25);
}

.hud .log li {
  white-space: nowrap;
}