.presence-list {
  background: rgba(0, 0, 0, 0.25);
  color: white;
  width: 25%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2000;
}

ul {
  padding: 0;
  margin: 0;
}

.chatFrame {
  pointer-events: none;
  -webkit-pointer-events: none;
}

.toolbar {
  -webkit-user-select: none;
  height: 40px;
}

.toolbar li a {
  padding: 4px 5px!important;
}

.active {
  -webkit-box-shadow:0 0 15px #ffffff;
}

.class [class^="icon-"], .class [class*=" icon-"] {
  background-position: 0 0;
}

#character .classes .class {
  display: inline;
}

.icon-priest {
  background-image: url(/classes/priest.png);
  width: 32px!important;
  height: 32px;
}

.icon-mage {
  background-image: url(/classes/mage.png);
  width: 32px!important;
  height: 32px;
}

.icon-dirt {
  background-image: url(/terrain.png);
  background-position: -64px 0;
  width: 32px!important;
  height: 32px;
  background-size: 512px 512px;
}

.icon-grass {
  background-image: url(/terrain.png);
  background-position: -96px 0;
  width: 32px!important;
  height: 32px;
  background-size: 512px 512px;
}

.icon-books {
  background-image: url(/terrain.png);
  background-position: -96px -64px;
  width: 32px!important;
  height: 32px;
  background-size: 512px 512px;
}

.icon-wood {
  background-image: url(/terrain.png);
  background-position: -128px 0;
  width: 32px!important;
  height: 32px;
  background-size: 512px 512px;
}

.icon-brick {
  background-image: url(/terrain.png);
  background-position: -224px 0;
  width: 32px!important;
  height: 32px;
  background-size: 512px 512px;
}

.icon-glass {
  background-image: url(/terrain.png);
  background-position: -32px -96px;
  width: 32px!important;
  height: 32px;
  background-size: 512px 512px;
}

.icon-tree {
  background-image: url(/terrain.png);
  background-position: -160px -32px;
  width: 32px!important;
  height: 32px;
  background-size: 512px 512px;
}

.icon-chest {
  background-image: url(/terrain.png);
  background-position: -352px -32px;
  width: 32px!important;
  height: 32px;
  background-size: 512px 512px;
}

.icon-mail {
  background-image: url(/terrain.png);
  background-position: -384px -128px;
  width: 32px!important;
  height: 32px;
  background-size: 512px 512px;
}

.icon-motor {
  background-image: url(/terrain.png);
  background-position: -448px -192px;
  width: 32px!important;
  height: 32px;
  background-size: 512px 512px;
}

.icon-stone {
  background-image: url(/terrain.png);
  background-position: -32px 0;
  width: 32px!important;
  height: 32px;
  background-size: 512px 512px;
}

.hud {
  height: 50%;
  width: 100%;
  position: absolute;
  z-index: 1000;
  left: 0;
  
  -webkit-transition: top 0.25s ease-in-out;
  background: rgba(0, 0, 0, 0.75);
  color: white;
}

.hud.collapsed {
  top: -1000px;
}

.hud.expanded {
  top: 40px;
}

.hud .prompt {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.hud .log {
  position: absolute;
  bottom: 24px;
  left: 0;
  width: 100%;
  height: 24px;
  background: rgba(255, 255, 255, 0.25);
}

.hud .log li {
  white-space: nowrap;
}